<div id="container">
    <div class="fusen"></div>
</div>

<script>
$(document).ready(function(){
  var obj;
<% @stickies.each do |sticky| %>
  obj = $("#container").addFusen(
    {
      top: <%= sticky.top -%>,
      left: <%= sticky.left -%>
    },
    "<%= sticky.comment -%>"
  );
  obj.attr("id", "sticky_" + <%= sticky.id -%>);
<% end %>
});
</script>
