<div id="container">
    <div class="fusen"></div>
</div>

<script>
$(document).ready(function(){
  $.get(
    "stickies/list.json",
    null,
    function(data){
      $.each(data, function(){
        obj = $("#container").addFusen(
          {
            top: this.top,
            left: this.left
          },
          this.comment
        );
        obj.attr("id", "sticky_" + this.id);
      });
    }
  );
});
</script>
